.filters {
	margin-bottom: 50px;
}

.filters select, .filters input {
	box-shadow: 0 0 3px var(--accent-color);
}

.filters #searchTerm {
	width: 100%;
}

.filters .other-filters {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.filters .other-filters div {
	width: 100%;
}

.filters .action-filters {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
