.advert-card.detail {
	max-width: 500px;
}

.advert-card.detail .advert-img {
  height: 400px;
	max-width: 500px;
	border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.advert-card.detail .content {
	padding: 1.5rem;
}

.advert-card.detail .content h2 {
	font-size: 1.6rem;
}

.advert-card.detail .sale-detail {
	color: var(--accent-color-secondary);
	font-weight: 500;
}

.advert-card.detail .sale-detail.busca {
  color: var(--accent-color);
}

.advert-card.detail .tags {
	margin: 1.5rem 0 0;
}