.multiselect-container {
  position: relative;
  display: inline-block;
}

.multiselect-container .multiselect-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
	padding: .375rem .75rem .375rem .75rem;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.multiselect-container .arrow {
	width: 12px;
	height: 12px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.multiselect-container .multiselect-dropdown {
	position: absolute;
	z-index: 100;
	background-color: var(--bs-body-bg);
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	display: flex;
	flex-direction: column;
	display: none;
}

.multiselect-container .multiselect-dropdown.open {
	display: block;
	width: 100%;
}

.multiselect-container .multiselect-dropdown input {
	margin-right: 10px;
}

.multiselect-container .multiselect-dropdown-header,
.multiselect-container .multiselect-dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.multiselect-container .multiselect-dropdown-header {
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.multiselect-container .multiselect-dropdown-header:hover, 
.multiselect-container .multiselect-dropdown-item:hover {
  background-color: #f9f9f9;
}
