.app-header {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.app-navbar.closed {
  display: none;
}

.app-navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.app-navbar ul li.menu a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
	transition: all 0.2s ease-out;
}
.app-navbar ul li.menu a:hover {
	color: #0d6efd;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
}

.logo-blue {
  color: var(--logo-blue);
  font-weight: bold;
}

.logo-gray {
  color: var(--logo-gray);
  font-weight: bold;
}

@media (max-width: 768px) {
  .app-navbar {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 111;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .app-navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .app-navbar ul li, .app-navbar ul li a {
    display: block;
    width: 100%;
  }
  .app-navbar ul li a {
    padding: 0.5rem 0;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 1.5rem;
  }
}
