:root {
  --main-bg-color: #ffffff; 
  --secondary-bg-color: #f8f9fa;
  --accent-color: #007bff;
  --text-color: #495057;
  --heading-color: #343a40;
  --link-color: #007bff;
  --input-bg-color: #ffffff;
  --input-border-color: #ced4da;
  --logo-blue: #007bff;
  --logo-gray: #343a40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
}

.logo-blue {
  color: var(--logo-blue);
  font-weight: bold;
}

.logo-gray {
  color: var(--logo-gray);
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.footer {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    gap: 1rem;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos para el listado de anuncios */
.ad-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ad-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ad-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.ad-card {
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.ad-card:hover {
  transform: translateY(-5px);
}

.ad-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ad-card-content {
  padding: 15px;
}

.ad-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: var(--heading-color);
}

.ad-card .price {
  font-weight: bold;
  color: var(--accent-color);
  font-size: 16px;
}

@media (max-width: 768px) {
  .ad-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .ad-list {
    grid-template-columns: 1fr;
  }
}


/* Estilos para el login */
.login-container {
  padding: 2rem;
  background-color: var(--input-bg-color);
}

.form-container {
  background-color: #ffffff;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.login-form {
  width: 100%;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.login-form label {
  font-weight: bold;
}

.login-form .form-control {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.login-form .form-check-label {
  margin-left: 1.25rem;
}

.login-form button[type="submit"] {
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  padding: 0.75rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-form button[type="submit"]:disabled {
  background-color: #6c757d;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.social-login button {
  flex: 1;
  font-size: 0.9rem;
}

.footer-text {
  font-size: 0.875rem;
  color: #6c757d;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 576px) {
  .login-container {
    padding: 1rem;
  }

  .form-container {
    padding: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .social-login {
    flex-direction: column;
  }

  .social-login button {
    margin-bottom: 0.5rem;
  }
}

/* Estilos para Registrar */

.register-container {
  padding: 2rem;
  background-color: var(--input-bg-color);
}

.form-container {
  background-color: #ffffff;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.logo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.register-form .form-group {
  margin-bottom: 1rem;
}

.register-form .form-control {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.register-form button[type="submit"] {
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  padding: 0.75rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.social-login {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.social-login button {
  flex: 1;
  font-size: 0.9rem;
}

.footer-text {
  font-size: 0.875rem;
  color: #6c757d;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 576px) {
  .register-container {
    padding: 1rem;
  }

  .form-container {
    padding: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .social-login {
    flex-direction: column;
  }

  .social-login button {
    margin-bottom: 0.5rem;
  }
}
/* Estilos para el Paginación */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.pagination .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .page-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.page-link, .previous-link, .next-link {
  padding: 5px 10px;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px; 
}

.page-link:hover, .previous-link:hover, .next-link:hover {
  background-color: #007bff;
  color: white;
}

.active .page-link {
  background-color: #007bff;
  color: white;
  cursor: default;
}

.disabled .previous-link, .disabled .next-link {
  color: #ccc;
  cursor: not-allowed;
}


/* Estilos para sin imagen*/
.no-image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ddd;
}

/* Estilos para la barra de búsqueda con filtros */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #007bff; 
  border-radius: 25px; 
  font-size: 16px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.filter-group {
  display: flex;
  align-items: center;
  margin: 5px;
}

.filter-group label {
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.filter-group select,
.filter-group input {
  padding: 5px;
  border: 1px solid #007bff;
  border-radius: 25px;
  outline: none;
}

.filter-group select[multiple] {
  height: auto; 
  width: 200px; 
  overflow-y: auto; 
  display: block; 
}

@media (max-width: 768px) {
  .filters-container {
    justify-content: center; 
  }

  .filter-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.ad-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ad-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ad-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.ad-card img {
  max-width: 100%;
  border-radius: 10px;
}

.ad-card-content {
  padding: 10px;
}

.ad-card-content h3 {
  margin: 10px 0;
}

.ad-card-content p {
  margin: 5px 0;
}

.ad-card-content .price {
  font-weight: bold;
  color: #007bff;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination .page-link {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 25px;
  color: #007bff;
  text-decoration: none;
}

.pagination .page-link:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .previous-link,
.pagination .next-link {
  border-radius: 25px;
}

.pagination .disabled .page-link {
  color: #ddd;
  border-color: #ddd;
  pointer-events: none;
}

/* Estilos para el filtro de categoría */
.category-filter {
  position: relative;
  display: inline-block;
}

.filter-button {
  padding: 10px 15px;
  border: 1px solid #007bff; 
  border-radius: 25px; 
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-button .arrow {
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

.dropdown-header,
.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-header {
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.dropdown-item:hover {
  background-color: #f9f9f9;
}

.dropdown-body {
  flex: 1; 
}

.dropdown-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

.cancel-button,
.apply-button {
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f5f5f5;
}

.apply-button {
  background-color: #007bff;
  color: white;
}

/* Ordenamiento */
.filter-group select#sortOrder {
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 25px;
  outline: none;
  background-color: white;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-group select#sortOrder:hover {
  background-color: #f0f8ff;
}

.filter-group select#sortOrder:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.hidden {
  display: none;
}

/* Estilos para Recuperar Contraseña */
.recuperar-contrasena-container {
  padding: 2rem;
  background-color: var(--input-bg-color);
}

.recuperar-contrasena-form .form-group {
  margin-bottom: 1rem;
}

.recuperar-contrasena-form .form-control {
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
}

.recuperar-contrasena-form button[type="submit"] {
  width: 100%;
  background-color: var(--accent-color);
  border: none;
  padding: 0.75rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.recuperar-contrasena-form button[type="submit"]:disabled {
  background-color: #6c757d;
}

/* Estilos para restablecer Contraseña */
.restablecer-contrasena-container {
  background-color: #f8f9fa;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restablecer-contrasena-form {
  margin-top: 1rem;
}